<!--Import jQuery before materialize.js-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
<script>
$(document).ready(function(){
    $('.button-collapse').sideNav({
        menuWidth: 240,
            edge: 'left'
        }
    );
    $(".dropdown-button").dropdown();
});

$(window).scroll(function() {
  var scroll = $(window).scrollTop();
  $(".parallax-zoom-blur img").css({
    width: (100 + scroll/10)  + "%",
    top: -(scroll/1000)  + "%",
    "-webkit-filter": "blur(" + (scroll/1000) + "px)",
    filter: "blur(" + (scroll/15) + "px)"
  });
});


</script>

<!--Connect to Facebook app API-->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '488375674843191',
      xfbml      : true,
      version    : 'v2.9'
    });
    FB.AppEvents.logPageView();
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/sdk.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>
